<section class="logo-container">
    <img class="logo" src="../assets/ghibli.png" alt="ghibli-logo"/>
</section>

<main class="filmes">
    
    <main *ngFor="let film of filmsDataArray" class="filme">

        <div appRandomHex class="filme-title">
            <h2>{{film.title}}</h2>
        </div>

        <div class="image-description">
            <p class="description">{{film.description}}</p>

            <img src={{film.image_url}} alt="filme-imagem"/>
        </div>

        <h3>Director: {{film.director}}</h3>
        <p class="release_date">Release Date: {{film.release_date}}</p>
        <p class="rt_score">Rotten Tomatoes: {{film.rt_score}}</p>

    </main>

</main>